{% extends "base.jinja" %}

{% block head %}
{% endblock %}

{% block opengraph %}
{% endblock %}

{% block content %}
<div id="root"></div>
{% endblock %}

{% block extra_js %}
    <script src="{{ static('wesgarlock-front.js') }}" ></script>
  {% endblock %}
