{% extends "base.jinja" %}

{% block opengraph %}
  <meta property="og:title" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}">
  <meta itemprop="name" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}">
  <meta property="fb:app_id" content="603470523429565" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://{{ request.get_host }}{{ request.get_full_path }}" />
  <meta itemprop="url" content="https://{{ request.get_host }}{{ request.get_full_path }}" />
  <meta property="og:description" content="{{page.intro|truncate(300, True)}}" />
  <meta name="description" content="{{page.intro|truncate(300, True)}}" />
  <meta itemprop="description" content="{{page.intro|truncate(300, True)}}" />
  {% set og_image = page.og_image %}
  {% if og_image %}
    {% set temp_photo = image(og_image, "fill-1200x630") %}
    <meta property="og:image" content="{{temp_photo.url}}" />
    <meta itemprop="image" content="{{temp_photo.url}}" />
    <meta property="og:image:width" content="{{temp_photo.width}}" />
    <meta property="og:image:height" content="{{temp_photo.height}}" />
  {% endif %}
{% endblock %}

{% block extra_css%}
  {{ super() }}
{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block context %}
  {{super()}}
{% endblock %}
